:root {
    --dark-cyan: hsl(180, 29%, 50%);
    --light-cyan-background: hsl(180, 52%, 96%);
    --light-cyan-filter: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-cyan: hsl(180, 14%, 20%);
    font-size: 62.5%;
}
body {
    font-size: 1.4rem;
    font-family: 'Spartan', sans-serif;
    background-color: var(--light-cyan-background);
}
h5 {
    font-size: 1.8rem;
    font-weight: 700
}
.attribution { 
    margin-top: 1rem;
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
.job-list {
    width: 90%;
    margin: auto;
}
.brandThumb {
    height: 5rem;
    width: auto;
    position: relative;
    bottom: 3rem;
    right: 12.5rem;
}
.brandName {
    color: var(--dark-cyan);
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: .6rem;
}
.badge {
    font-size: 1.4rem;
    padding-top: .8rem;
    font-weight: 500;
}
.newBadge {
    background: var(--dark-cyan);
}
.featuredBadge {
    background: black;
}
.importantBadge {
    margin-left: .4rem;
}
.positionHeader {
    margin-top: .5rem;
}
.title{
    width: fit-content ;
}
.title:hover {
    color: var(--dark-cyan);
}
.searchBadge {
    background-color: var(--light-cyan-filter);
    color: var(--dark-cyan);
    margin: 1rem 0 0 1rem;
    font-weight: 700;
}
.searchBadge:hover {
    background: var(--dark-cyan);
    color:white;
}
.card {
    box-shadow: 10px 1px 10px var(--light-cyan-filter);
    border: none;
    margin-top: 4rem;
    padding-left: 1rem;
}
.featuredCard {
    border-left: 5px solid var(--dark-cyan);
    border-radius: 2px;
    
}
.card-header {
    border-bottom: none;
    background: white;
}
.card-body {
    border-top: none;
}
.lineContainer {
    border-top: 1px solid black;
    margin: auto;
    width: 90%;
    opacity: 60%;
}
.dot {
    height: .3rem;
    width: .3rem;
    background: var(--dark-grayish-cyan);
    border-radius: 50%;
    display: block;
    float: right;
    position: relative;
    bottom: 2.2rem;
    right: .3rem;
    opacity: 60%;
}
.secondDot {
    left: .3rem;
}
.subText {
    opacity: 60%;
}
.searchBox {
    display:  none;
}
.searchButton {
    width: fit-content;
}
.cancelButton {
    color: white;
    background: var(--dark-cyan);
    position: relative;
    left: -4px;
    border-radius: 0 4px 4px 0;
}
.cancelButton:hover{
    background-color: var(--very-dark-cyan);
}
.clear {
    position: relative;
    float: right;
    color: var(--dark-cyan);
    bottom: 2.1rem;
}
.clear:hover {
    text-decoration: underline;
}
@media only screen and (min-width: 1440px) {
    .brandThumb {
        right: 0;
        bottom: 0;
    }
}